<div>
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-style"  [class.active]="false">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-style"  [class.active]="true">
                <a ><span>Stages</span></a>
            </li>
        </ol>
    </div>
    <div class="page-title-container">
        <div class="page-title-column1">
            <h4 class="page-title-column1-title index-font">Stages</h4>
            <p class="page-title-helptext">Create or view Stages</p>
        </div>
        <div class="page-title-column2" align="right">
            <input type="text" class="form-control" name="search" id="search" placeholder="search"
                   style="height: 38px;width: 30%;display: inline-block;border-radius: 0px" (keypress)="searchItem()" [(ngModel)]="search">


            <button type="reset" onclick="document.getElementById('search').value = ''  " class="btn btn-primary  fa fa-close addbtn btn-sm "
                    style="position:relative;left:-4px;height: 38px;top: -1px;margin-right: 15px;max-width: 35px;margin-bottom: 3px;border-radius: 0px;">

            </button>


            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"  [routerLink]="['/', { outlets: { popup: ['stages-new'] } }]"
                    class="btn btn-primary addbtn float_right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Stages</button>

        </div>
    </div>



    <jhi-alert></jhi-alert>

<div class="row" style="margin: 0 30px" *ngIf="stages">
</div>






<table class="table width100pct" style="margin-bottom:0; border: 1px solid #e4e3e3;">
    <thead>
    <tr>
    <th class="colorblue"><span>ID</span></th>
    <th class="colorblue"><span>Name</span></th>
    <th class="colorblue"><span>Tenant Details</span></th>
    <th></th>
    </tr>
    </thead>



    <tbody>
    <tr *ngFor="let stages of stages ;trackBy: trackId">
        <td><a [routerLink]="['../stages', stages.id ]">{{stages.id}}</a></td>
        <td>{{stages.name}}</td>
        <td>
            <div *ngIf="stages.tenantDetails">
            <a [routerLink]="['../tenant-details', stages.tenantDetails?.id ]" >{{stages.tenantDetails?.id}}</a>

        </td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['../stages', stages.id ]"
                        class="btn btn-info btn-sm">
                    <span class="fa fa-eye"></span>
                </button>
                <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                        [routerLink]="['/', { outlets: { popup: 'stages/'+ stages.id + '/edit'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                        [routerLink]="['/', { outlets: { popup: 'stages/'+ stages.id + '/delete'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-danger btn-sm">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
