

    <div class="container mt-5">
        <div class="offset-1 col-md-10">
            <table class="table text-left lightblue">
                <jhi-alert-error></jhi-alert-error>


                <tr *ngIf="repositories">
                    <th class="colorblue light-bg" scope="col">Protocol</th>
                    <td>{{repositories.protocol}} </td>
                </tr>


                <tr>

                    <th class="colorblue light-bg" scope="col">Hostname</th>

                    <td>{{repositories.hostname}}</td>
                </tr>
                <tr  >
                    <th class="colorblue light-bg" scope="col">Port</th>
                    <td>{{repositories.port}}</td>
                </tr>
                <tr  >
                    <th class="colorblue light-bg" scope="col">User Name</th>
                    <td>{{repositories.userName}}</td>
                </tr>
                <tr  >
                    <th class="colorblue light-bg" scope="col">Password</th>
                    <td>{{repositories.password}} </td>
                </tr>
                <tr  >
                    <th class="colorblue light-bg" scope="col">Secret</th>
                    <td>{{repositories.secret}} </td>
                </tr>

            </table>
    <div class="row mt-3">
        <div class="col-md-1">

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
        </div>
        <div class="offset-10 col-md-1">
            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'repositories/'+ repositories.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>

</div>
