<div class="settings-container mt-0 mr-0 ml-0"  style="height: 755px;">

        <div class="offset-7 col-md-4">

            <!--
                        <h2 class="colorblue" *ngIf="settingsAccount">Settings for </h2> <h1 class="branding_header1"> {{settingsAccount.login| uppercase}} </h1>
            -->
            <h1 class="branding_header1"*ngIf="settingsAccount">Settings for {{settingsAccount.login| uppercase}}</h1>
            <br>
            <div class="alert alert-success" *ngIf="success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>
            <div class="card">
                <div class="card-body">
                    <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                        <div class="form-group">
                            <label class="form-control-label" for="firstName">First Name  <span style="color: red" >*</span></label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name"
                                   [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required style="background-color: #f5f5f5" >
                            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="firstNameInput.errors.required">
                                    Your first name is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="firstNameInput.errors.minlength">
                                    Your first name is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="firstNameInput.errors.maxlength">
                                    Your first name cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="lastName">Last Name  <span style="color: red" >*</span></label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                                   [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required style="background-color: #f5f5f5">
                            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="lastNameInput.errors.required">
                                    Your last name is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="lastNameInput.errors.minlength">
                                    Your last name is required to be at least 1 character.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="lastNameInput.errors.maxlength">
                                    Your last name cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="email">Email  <span style="color: red" >*</span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                                   [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email required style="background-color: #f5f5f5">
                            <div *ngIf="emailInput.dirty && emailInput.invalid">
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.required">
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.email">
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="emailInput.errors.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="isEdit">
                            <label class="form-control-label" for="profilePicture">Profile Photo</label>
                            <input #myInput type="file" placeholder="File Name" name="profileImage" (change)="fileChangeEvent($event)" accept="image/*">
                            <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="4 / 3"
                                [resizeToWidth]="128"
                                format="png"
                                (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded()"
                                (loadImageFailed)="loadImageFailed()"
                            ></image-cropper>

                            <img [src]="croppedImage" />
                        </div>

                        <div class="form-group" *ngIf="!isEdit">
                            <img onerror="this.onerror=null;this.src='https://i.imgur.com/9b5DNoF.png';" class="card-img-top" [src]="'data:' + getImageType() + ';base64,' + getImageUrl()"
                            style="width: 10%;">
                        </div>

                        <div class="form-group">
                            <input type="button" value="Reset Image" (click)="reset()" class="btn btn-primary"></input>
                        </div>
                        <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Save</button>
                    </form>




</div>
            </div>


    </div>
</div>
