<div class="footer" style="font-size: small; margin-top: 0px !important;">
    <div class="footer-margin">
        <div class="display-inline-block-style footer-version float-left">
            Copyright © 2016 - 2017 Software AG, Darmstadt, Germany and/or Software AG USA Inc., Reston, VA, USA, and/or its subsidiaries and/or its affiliates and/or their licensors.
        </div>
        <div class="display-inline-block-style footer-logo float-right">
            <img src="../../../content/images/footer-logo.png" alt="Software AG Logo" title="Software AG"/>
        </div>
    </div>
</div>
