
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header" style="background-color: #e9ecef">
        <h4 class="modal-title colorblue" id="myApplicationLabel">Create or edit a Application</h4>
        <button type="button" class="close colorblue" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">





        <div class="card">
            <div class="card-header">
                <ul class="nav  nav-justified">
                    <li style="font-size: 14px" class="nav-item1" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
                        <a (click)="goToStep(step)">{{step.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">



















<div [hidden]="isActive">




</div>

                <div [hidden]="isActive">
                    <div [title]="'Finish'" (onComplete)="save()">
                        <h4 style="margin-top: 20px;margin-left: 18px;color: #0899cc">Click done to create your application !!!</h4>
                        <jhi-alert-error></jhi-alert-error>
                    </div>
                </div>


            </div>
            <div class="card-footer" style="margin-top: 20px">
                <button type="button" class="btn btn-secondary float-left" >Previous</button>
                <button type="button" class="btn btn-secondary float-right">Next</button>
                <button type="button" class="btn btn-secondary float-right">Done</button>
            </div>
        </div>













    </div>
</form>

