

<div *ngIf="application">
    <h2 style="font-weight: bold"><span>Application</span> {{application.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span >Name</span></dt>
        <dd>
            <span>{{application.name}}</span>
        </dd>
        <dt><span >Description</span></dt>
        <dd>
            <span>{{application.description}}</span>
        </dd>
        <dt><span >Version</span></dt>
        <dd>
            <span>{{application.version}}</span>
        </dd>
        <dt><span >Logo</span></dt>
        <dd>
            <div *ngIf="application.logo">
                <a (click)="openFile(application.logoContentType, application.logo)">
                    <img [src]="'data:' + application.logoContentType + ';base64,' + application.logo" style="max-width: 100%;" alt="application image"/>
                </a>
            </div>
        </dd>
    </dl>

<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
</button>

<button type="button"
        [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/edit'} }]"
        replaceUrl="true"
        queryParamsHandling="merge"
        class="btn btn-primary">
    <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
</button>
</div>
