<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header" style="background-color: #e9ecef">
        <h4 class="modal-title colorblue" id="myApplicationLabel" style="font-family: Roboto, sans-serif">{{this.ModalTitle}}</h4>
        <button type="button" class="close colorblue" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>




    <form-wizard>


        <jhi-alert-error></jhi-alert-error>

        <wizard-step [title]="'Upload Data Files'">
            <!--     <div class="form-group" [hidden]="!application.id" style="margin-left: 5px">
                <label for="id" >ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="application.id" readonly />
            </div>
            <div class="form-group" style="margin-left: 5px;margin-top: 20px">
                <label class="form-control-label"  for="field_name" style="font-weight: bold">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="application.name" required minlength="5" maxlength="20" style="margin-top: 5px"/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 5 }">
                        This field is required to be at least 5 characters.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                    </small>
                </div>
            </div>
            <div class="form-group" style="margin-left: 5px">
                <label class="form-control-label"  for="field_description" style="font-weight: bold">Description</label>
                <textarea type="text" class="form-control" name="description" id="field_description"
                          [(ngModel)]="application.description" required minlength="10" maxlength="100" style="margin-top: 5px"></textarea>
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.description?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 10 }">
                        This field is required to be at least 10 characters.
                    </small>
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
            <div class="form-group" style="margin-left: 5px">
                <label class="form-control-label"  for="field_version" style="font-weight: bold">Version</label>
                <input type="text" class="form-control" name="version" id="field_version" style="margin-top: 5px"
                       [(ngModel)]="application.version"  />
            </div> -->
            {{checkURL()}}
            <div *ngIf="createApp" class="form-group" style="margin-left: 5px">
                <div style="margin-top: 5px; padding-top: 10px">
                    <div class="fileUpload btn button-primary">
                        <span>Upload logo</span>
                        <input type="file" id="file_logo" class="upload" (change)="setFileData($event, application, 'logo', true)" accept="image/*"
                        />
                        <span>Upload json</span>
                        <input type="file" id="file_json" class="upload" (change)="setJsonFileData($event, application, 'json', false)" accept=".json"
                        />
                    </div>
                    <span *ngIf="application.logo">
                        <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs">
                        Remove</button>
                    </span>
                    <br>
                    <br>
                    <img [src]="'data:' + application.logoContentType + ';base64,' + application.logo" style="max-height: 100px;" *ngIf="application.logo"
                        alt="application image" />
                    <div *ngIf="jsonFileContent">
                        <div>Name: {{application.name}}</div>
                        <div>Description: {{application.description}}</div>
                        <div>Version: {{application.version}}</div>
                        <div>Secret: {{application.secret}}</div>
                        <div>Container Image: {{application.containerImage}}</div>
                        <div>Number of Cores: {{application.numberOfCores}}</div>
                        <div>Number of Instances: {{application.numberOfInstances}}</div>
                        <div>Memory: {{application.memory}}</div>
                    </div>
                </div>
                <input type="hidden" class="form-control" name="logo" id="field_logo" [(ngModel)]="application.logo" />
                <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" [(ngModel)]="application.logoContentType"
                />
            </div>
            <div *ngIf="!createApp">
                <div>
                    <textarea style="width:600px;height:250px" (change)="updatejson($event)">{{this.jsonFileContent}}</textarea>
                </div>
                <div class="fileUpload btn button-primary">
                        <span>Upload logo</span>
                        <input type="file"  class="upload" (change)="setFileData($event, application, 'logo', true)" accept="image/*"
                        />
                    </div>
                    <span *ngIf="application.logo">
                        <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs">
                        Remove</button>
                    </span>
                    <br>
                    <br>
                    <img [src]="'data:' + application.logoContentType + ';base64,' + application.logo" style="max-height: 100px;" *ngIf="application.logo"
                        alt="application image" />
            </div>
        </wizard-step>

        <!--    <wizard-step [title]="'Image info'" >
            <div class="form-group" style="margin-left: 5px;margin-top: 20px">
                <label class="form-control-label"  for="field_secret" style="font-weight: bold">secret</label>
                <select class="form-control" name="secret" id="field_secret" [(ngModel)]="application.secret" style="margin-top: 5px">
                    <option *ngFor="let repository of repositories" [value]="repository.secret">{{repository.secret}}</option>
                </select>
            </div>
            <div class="form-group" style="margin-left: 5px">
                <label class="form-control-label"  for="field_containerImage" style="font-weight: bold">Container Image</label>
                <input type="text" class="form-control" name="containerImage" id="field_containerImage" [(ngModel)]="application.containerImage" style="margin-top: 5px"
                       required />
                <div [hidden]="!(editForm.controls.containerImage?.dirty && editForm.controls.containerImage?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.containerImage?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </wizard-step>



        <wizard-step [title]="'Instance details'" >


            <div class="form-group" style="margin-top: 5px;margin-left: 5px;margin-top: 20px">
                <jhi-compositeinput [inputData]="InboundOutbounds" [keyLabel]="'Inbound'" [valueLabel]="'Outbound'"></jhi-compositeinput>
            </div>

             <div class="form-group" style="margin-left: -9px">
                <div class="col-sm-3" style="float:left">
                    <div class="form-group">
                        <label class="form-control-label"  style="font-weight: bold">Number Of Instances</label>
                        <jhi-slider [max]="10" [min]="0"  [color]="'red_scheme'" [presetvalue]="application.numberOfInstances" (valChanged)="application.numberOfInstances = $event"></jhi-slider>
                        <div [hidden]="!(editForm.controls.numberOfInstances?.dirty && editForm.controls.numberOfInstances?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.numberOfInstances?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="float:left">
                    <div class="form-group">
                        <label class="form-control-label"  style="font-weight: bold">Number Of Cores</label>
                        <jhi-slider [max]="10" [min]="0" [color]="'yellow_scheme'" [presetvalue]="application.numberOfCores" (valChanged)="application.numberOfCores = $event"></jhi-slider>
                    </div>
                </div>
                <div class="col-sm-3" style="float:left">
                    <div class="form-group" style="margin-left: 5px;width: 100%">
                        <label class="form-control-label" style="font-weight: bold">Memory (in GB)</label>
                        <jhi-slider [max]="10" [min]="0" [color]="'green_scheme'" [presetvalue]="application.memory" (valChanged)="application.memory = $event"></jhi-slider>
                    </div>
                </div>
            </div>
        </wizard-step> -->
        <wizard-step [title]="'Finish'" (onComplete)="save()">
            <h4 style="margin-top: 20px;margin-left: 18px;color: #0899cc; font-family: Roboto, sans-serif">click DONE to {{this.event}} your application.</h4>
            <jhi-alert-error></jhi-alert-error>
        </wizard-step>
    </form-wizard>

</form>
