<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header" style="background-color: #e9ecef">
        <h4 class="modal-title colorblue" id="myApplicationLabel" style="font-family: Roboto, sans-serif">Import Application</h4>
        <button type="button" class="close colorblue" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>

    <form-wizard>
        <wizard-step>
            <div class="form-group" style="margin-left: 5px">
                <div style="margin-top: 5px; padding-top: 10px">
                    <div class="fileUpload btn button-primary">
                        <span>Upload logo</span>
                        <input type="file" id="file_logo" class="upload" (change)="setFileData($event, application, 'logo', true)" accept="image/*" />
                    </div>
                    <span *ngIf="application.logo"><button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs"> Remove</button></span>
                    <br><br>
                    <img [src]="'data:' + application.logoContentType + ';base64,' + application.logo" style="max-height: 100px;" *ngIf="application.logo" alt="application image"/>
                </div>
                <input type="hidden" class="form-control" name="logo" id="field_logo"
                       [(ngModel)]="application.logo"  />
                <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                       [(ngModel)]="application.logoContentType" />
            </div>
        </wizard-step>
    </form-wizard>
    </form>