<div class="all-space">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-style"  [class.active]="false">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-style"  [class.active]="true">
                <a ><span>Applications</span></a>
            </li>
        </ol>
    </div>
    <div class="page-title-container">
        <div class="page-title-column1">
            <h4 class="page-title-column1-title index-font">Application</h4>
            <p class="page-title-helptext">Create or view Application</p>
        </div>
        <div class="page-title-column2" align="right">
            <input type="text" class="form-control" name="search" id="search" placeholder="search"
                   style="height: 38px;width: 30%;display: inline-block;border-radius: 0px" (keypress)="searchItem()" [(ngModel)]="search">


            <button type="reset" onclick="document.getElementById('search').value = ''  " class="btn btn-primary  fa fa-close addbtn btn-sm "
                    style="position:relative;left:-5px;height: 38px;top: -1px;margin-right: 15px;max-width: 35px;margin-bottom: 3px;border-radius: 0px;">


            </button>


        <button style="position: relative;top: -3px;"*jhiHasAnyAuthority="'ROLE_ADMIN'" type="button" data-toggle="modal" data-target="#poper" [routerLink]="['/', { outlets: { popup: ['application-new'] } }]"
                    class="btn btn-primary addbtn float_right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Import Application</button>





        </div>
    </div>
    <jhi-alert></jhi-alert>


    <div class="row" style="margin: 0 30px">
            <div style="max-width: 20%; min-width: 20%" *ngFor="let application of applications ;trackBy: trackId">
                <div class="card-deck" style="margin-bottom:10px;padding: 5px">
                    <div class="card">

         <img onerror="this.onerror=null;this.src='https://i.imgur.com/SBntdac.png';" class="card-img-top" [src]="'data:' + application.logoContentType + ';base64,' + application.logo"
                             style="padding: 20px;width: 100%;height: 170px">
                        <div class="card-body added-card">
                            <h3 class="card-title m-0 paricolor">{{application.name}}
                                <span class="badge badge-pill badge-info pull-right">{{application.version}}</span>
                            </h3>
                            <p class="card-text samplecolor" style="height: 90px; overflow: auto">{{application.description}}</p>
                        </div>
                        <div class="card-footer">
                            <div class="float-left">
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['../application', application.id ]" class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                </button>
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/edit'} }]" replaceUrl="true"
                                    class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + ':clone/edit'} }]" replaceUrl="true"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-clone"></span>
                                </button>
                                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/delete'} }]" replaceUrl="true"
                                    class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                </button>
                            </div>
                            <div class="float-right">
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'deployment-new-app/' + application.id } }]" class="btn btn-info btn-sm">
                                    <span class="fa fa-cog"></span>
                                    <span class="d-none d-md-inline">Deploy</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <!--<div class="row" style="margin: 0 30px">
       <div style="max-width: 20%; min-width: 20%" *ngFor="let app of application ;trackBy: trackId">
            <div class="card-deck" style="margin-bottom:10px;padding: 5px">
                <div class="card">
                    <h1> </h1>

                   <h1>{{application.id}}</h1>
                   <img class="card-img-top" [src]="'data:' + 'image/png' + ';base64,' + application.logo"
                         style="padding: 20px;width: 100%;height: 150px">
                    <div class="card-body">
                        <h3 class="card-title">{{application.name}}
                            <span class="badge badge-pill badge-info pull-right">{{application.version}}</span>
                        </h3>
                        <p class="card-text" style="height: 90px; overflow: auto">{{application.description}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="float-left">
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['../application', application.id ]"
                                    class="btn btn-info btn-sm" style="background-color:#03e8f2; border-color:#03e8f2">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/edit'} }]"
                                    replaceUrl="true"  queryParamsHandling="merge" class="btn btn-primary btn-sm" style="background-color:#03c2f2;border-color:#03c2f2" >
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/clone'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm" style="background-color:#03c2f2;border-color:#03c2f2" >
                                <span class="fa fa-clone"></span>
                            </button>
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" [routerLink]="['/', { outlets: { popup: 'application/'+ application.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" style="background-color:#039ef2;border-color:#039ef2;">
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                        <div class="float-right">
                            <button type="submit" data-toggle="modal" data-target="#poper"[routerLink]="['/', { outlets: { popup: 'deployment-new-app/' + application.id } }]" class="btn btn-info btn-sm">
                                <span class="fa fa-cog"></span>
                                <span class="d-none d-md-inline">Deploy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
