
<form name="keyvalueForm">
    <div class="modal-header" style="background-color: #e9ecef">
        <h4 class="modal-title colorblue" style="font-family: Roboto, sans-serif">trail view</h4>
        <button type="button" class="close colorblue" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
</form>

<!--

<modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
-->
