<div>
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-style"  [class.active]="false">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-style"  [class.active]="true">
                <a ><span>Tenants</span></a>
            </li>
        </ol>
    </div>
    <div class="page-title-container">
        <div class="page-title-column1">
            <h4 class="page-title-column1-title index-font">Tenant</h4>
            <p class="page-title-helptext">Create or view Tenant</p>
        </div>
        <div class="page-title-column2" align="right">
            <input type="text" class="form-control" name="search" id="search" placeholder="search"
                   style="height: 38px;width: 30%;display: inline-block;border-radius: 0px" (keypress)="searchItem()" [(ngModel)]="search">


            <button type="submit"
                    (click)="clearItems()"

                    class="btn btn-primary addbtn btn-sm"
                    style="position:relative;left:-4px;height: 38px;top: -1px;margin-right: 15px;max-width: 35px;margin-bottom: 3px;border-radius: 0px;">
                <span class="fa fa-close"></span>

            </button>


            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"  [routerLink]="['/', { outlets: { popup: ['tenant-new'] } }]"
                    class="btn btn-primary addbtn float_right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Tenant</button>

        </div>
    </div>



    <jhi-alert></jhi-alert>

<div class="row" style="margin: 0 30px" *ngIf="tenants">
</div>






<table class="table width100pct" style="margin-bottom:0; border: 1px solid #e4e3e3;">
    <thead>
    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
    <th class="colorblue" jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
    <th class="colorblue" jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
    <th class="colorblue" jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
    <th class="colorblue" jhiSortBy="contact_name"><span>Contact Name</span> <span class="fa fa-sort"></span></th>
    <th class="colorblue" jhiSortBy="contact_email"><span>Contact Email</span> <span class="fa fa-sort"></span></th>
    <th></th>
    </tr>
    </thead>



    <tbody>
    <tr *ngFor="let tenant of tenants ;trackBy: trackId">
        <td><a [routerLink]="['../tenant', tenant.id ]">{{tenant.id}}</a></td>
        <td>{{tenant.name}}</td>
        <td>{{tenant.description}}</td>
        <td>{{tenant.contact_name}}</td>
        <td>{{tenant.contact_email}}</td>
        <td class="text-right">
            <div class="btn-group flex-btn-group-container">
                <button type="submit"
                        [routerLink]="['../tenant', tenant.id ]"
                        class="btn btn-info btn-sm">
                    <span class="fa fa-eye"></span>
                </button>
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'tenant/'+ tenant.id + '/edit'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="submit"
                        [routerLink]="['/', { outlets: { popup: 'tenant/'+ tenant.id + '/delete'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-danger btn-sm">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div *ngIf="tenants && tenants.length">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
</div>
