<div class="all-space">
         <div class="breadcrumb-container " >
            <ol class="breadcrumb">
                <li class="breadcrumb-style"  [class.active]="false">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-style"  [class.active]="true">
                    <a ><span>Nodes</span></a>
                </li>
             </ol>
         </div>
         <div class="page-title-container">
         <div class="page-title-column1">
                <h4 class="page-title-column1-title index-font">Nodes</h4>
                <p class="page-title-helptext">Create or view Nodes</p>
         </div>
         <div class="page-title-column2" align="right">

                <input type="text" class="form-control search-box" [(ngModel)]="customsearch" id="searchText" placeholder="search">
                <button type="reset" onclick="document.getElementById('searchText').value = ''" class="btn btn-primary  fa fa-close addbtn btn-sm clear-search" style="position:relative;left:-5px;height: 38px;top: -1px;margin-right: 15px;max-width: 35px;margin-bottom: 3px;border-radius: 0px;"></button>
                <button style="position: relative;top: -3px;" *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_USER']" type="button"  [routerLink]="['/', { outlets: { popup: ['nodes-new'] } }]" class="btn btn-primary addbtn float_right" >
                <i class="fa fa-plus-circle new-entity" aria-hidden="true" ></i> Create Nodes</button>
         </div>
         </div>

         <jhi-alert></jhi-alert>

         <div class="row" style="margin: 0 30px" *ngIf="nodes">
         </div>

         <table class="table width100pct" style="margin-bottom:0; border: 1px solid #e4e3e3;" id="optimizer">
         <thead>
         <tr>
                 <th class="colorblue" ><span>ID</span></th>
                 <th class="colorblue"><span>Master Url</span></th>
                 <th></th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let c of nodes | filter: customsearch">


                 <td><a class="colorblue" [routerLink]="['../nodes', c.id ]">{{c.id}}</a></td>
                 <td style="font-weight: bold">{{c.masterUrl}}</td>


                 <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                <button  type="submit" [routerLink]="['../nodes', c.id ]" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="view" style="background-color:#03e8f2; border-color:#03e8f2; cursor:pointer;">
                    <span class="fa fa-eye" ></span>
                </button>

                <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TENANT']" type="submit" [routerLink]="['/', { outlets: { popup: 'nodes/'+ c.id + '/edit'} }] " style="background-color:#03c2f2;border-color:#03c2f2; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="edit"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm"><span class="fa fa-pencil" ></span>
                </button>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit" [routerLink]="['/', { outlets: { popup: 'nodes/'+ c.id + '/delete'} }]"
                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" style="background-color:#039ef2;border-color:#039ef2;cursor: pointer"data-toggle="tooltip" data-placement="top" title="delete"><span class="fa fa-remove"></span>
                </button>
         </div>
         </td>
         </tr>
         </tbody>
         </table>
</div>

