

<div class="container mt-5">

<table class="table text-center lightblue">
    <jhi-alert-error></jhi-alert-error>

    <thead class="thead-light">
    <tr>
        <th class="colorblue" scope="col">Nodes</th>
        <th class="colorblue" scope="col">Master Url</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="nodes">
        <td>{{nodes.id}} </td>
        <td>{{nodes.masterUrl}} </td>
    </tr>
    </tbody>
</table>
 <div class="row mt-3">
     <div class="col-md-1">
     <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
     </div>
     <div class="offset-10 col-md-1">
  <button type="button"
                 [routerLink]="['/', { outlets: { popup: 'nodes/'+ nodes.id + '/edit'} }]"
                 replaceUrl="true"
                 queryParamsHandling="merge"
                 class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
 </div>
</div>

</div>
<!--
<div *ngIf="nodes">
    <h2 style="font-weight: bold"><span>Nodes</span> {{nodes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
<dl class="row-md jh-entity-details">
    <dt><span>Master Url</span></dt>
    <dd>
        <span>{{nodes.masterUrl}}</span>
    </dd>
</dl>

<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
</button>

<button type="button"
        [routerLink]="['/', { outlets: { popup: 'nodes/'+ nodes.id + '/edit'} }]"
        replaceUrl="true"
        queryParamsHandling="merge"
        class="btn btn-primary">
    <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
</button>
</div>
-->
