<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header information">
        <div class="font-modal-header style-display-inline-block" id="myApplicationsLabel" >Scale up</div>
        <button type="button" style="font-size: 20px;border: 0;color: #0899cc;background-color: #ebf0f5;cursor: pointer" data-dismiss="modal" aria-hidden="true"
                (click)="clear()"><span class="fa fa-times" aria-hidden="true"></span></button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!scaleManagement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="scaleManagement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_instancenos">Instance count</label>
            <input type="number" class="form-control" name="instancenos" id="field_instancenos"
                [(ngModel)]="scaleManagement.instancenos" required />
            <div [hidden]="!(editForm.controls.instancenos?.dirty && editForm.controls.instancenos?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.instancenos?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.instancenos?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div [hidden]="!(editForm.controls.deployments?.dirty && editForm.controls.deployments?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.deployments?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
