
<div *ngIf="scaleManagement">
    <h2><span jhiTranslate="optimizerApp.scaleManagement.detail.title">Scale Management</span> {{scaleManagement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="optimizerApp.scaleManagement.instancenos">Instancenos</span></dt>
        <dd>
            <span>{{scaleManagement.instancenos}}</span>
        </dd>
        <dt><span jhiTranslate="optimizerApp.scaleManagement.deployments">Deployments</span></dt>
        <dd>
            <div *ngIf="scaleManagement.deployments">
                <a [routerLink]="['/deployments', scaleManagement.deployments?.id]">{{scaleManagement.deployments?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'scale-management/'+ scaleManagement.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
