
<div style="font-family: roboto sans-serif;
font-size: 1.1rem;
font-weight: 500;
line-height: 1.5;">
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid no-padding" style="font-family: roboto sans-serif;
font-size: 1.1rem;
font-weight: 500;
line-height: 1.5;">
    <div class="card jh-card" style=" min-height: 692px !important;">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>









