
<div   *ngIf="!isAuthenticated()" >
<div class="container">



kkjikjksjkdfjskdjfkdsjfdkfjsdkjfsdkfsdkjfkldfjskdlfjsdkfjkjfsdkjfsdkjfsdkfjsdkfj





<div>
        <div *ngIf="isAuthenticated()" class="topics-container ">
            <div class="style-display-inline-block style-float-left" style="display: table-cell">
                <div class="single-topic-style">
                    <img src="../../content/images/rsz_icon_humen.png" alt="Tenant Management" class="topic-image">
                    <div class="topic-box topic-box1">
                        <div class="topic-box-title">Tenant Management</div>
                        <div class="topic-box-helptext">Quick tenant onboarding and Managing tenant application straight forward </div>
                    </div>
                </div>
                <div class="empty-container-between-topics"></div>
            </div>

            <div class="style-display-inline-block style-float-left" style="display: table-cell">
                <div class="single-topic-style">
                    <img src="../../content/images/rsz_university_resnet_policies.png" alt="Policy Engine" class="topic-image">
                    <div class="topic-box topic-box2">
                        <div class="topic-box-title">Policy Engine</div>
                        <div class="topic-box-helptext">Policy based provisioning and Policy based decision making
                        </div>
                    </div>
                </div>
                <div class="empty-container-between-topics"></div>
            </div>

            <div class="style-display-inline-block style-float-left" style="display: table-cell">
                <div class="single-topic-style">
                    <img src="../../content/images/rsz_graph_icon.png" alt="Events & Metrics" class="topic-image">
                    <div class="topic-box topic-box3">
                        <div class="topic-box-title">Events & Metrics</div>
                        <div class="topic-box-helptext">Application health monitoring with predefined and custom definition
                        </div>
                    </div>
                </div>
                <div class="empty-container-between-topics"></div>
            </div>


        </div>
        <!--<div *ngIf="!isAuthenticated()" class="topics-container">

            <video width="800" height="500" autoplay loop>
                <source src="../../content/images/Techinterrupt.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>

        </div>-->
    </div>
    <div class="clear"></div>
</div>
</div>
