/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid green;
}

.ng-invalid:not(form)  {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    border: none;
}
.jh-card1 {
    padding: 0%;
    padding-top:0px;

    border: none;
}
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
/* Bread Crumb*/
.breadcrumb-container {
    border-bottom: 1px solid #dfe8f0;
    height: 26px;
    margin: 0 5px;
    padding-top: 5px;
}
.breadcrumb-container-1 {

    height: 50px;
    margin: 0 -24px;
    padding-top: 5px;
    background-color: #f8f8f8;
}
.breadcrumb-style {
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

/* Bootstrap overriding styles for Breadcrumb */
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 0;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li > a {
    color: #0899cc;
}

.breadcrumb > li > a:hover {
    color: #006F97;
}

.breadcrumb > li + li:before {
    padding: 0 10px;
    color: #989898;
    content: "\232A";
}

.breadcrumb > li.active > a {
    color: #989898;
}

/*edited*/
.topclass {
    padding: 26px;
    padding-top: 10px;
}
.index-font{
    color:#0899cc;
    font-weight:500;
    margin: 0;
}
.undertext{
    font-size: 16px;
    font-weight: 600;
    color: #989898;
}
.table-responsive {
    padding: 0px 25px !important;
}
.addbtn{
    background-color:#03c2f2 !important;
    border-color:#03c2f2 !important;
}
/**/
/* Page Title related Styles */
.page-title-container {
    position: relative;
    padding:0px 5px;
}

.page-title-column1 {
    display: inline-block;
    width: 65%;
}

.page-title-column2 {
    display: inline-block;
    position: relative;
    right: -52px;
    top: -8px;
    bottom: 0;
    margin: auto;
}

.page-title-column3
{
    display: inline-block;
    width: 65%;
    height: 45px;
}

.page-title-column4
{
    display: inline-block;
    position: relative;
    right: -52px;
    top: -8px;
    bottom: 0;
    margin: auto;
    background-color: #f5f5f5;
}
.container-new
{
    width: 65%;
    display: inline-block;
}
.tenant_add_container .custom-regi-left-panel {
    background-color: #0899cc;
    position: relative;
}
.page-title {
    font-size: 26px;
    font-weight: 500;
    color: #0899cc;
}

.page-title-helptext {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #989898;
}

.sub-page-title-helptext {
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2em;
    padding-top: 3px;
}

.sub-page-font-default {
    font-family: 'Roboto', Arial, Sans-Serif;
    font-size: 20px;
    font-weight: 300;
    color: #333;
}

.page-title-help-icon {
    color: #0899CC;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.sub-page-title-help-icon {
    color: #0899CC;
    cursor: pointer;
    display: inline-block;
    padding: 3px 5px;
}

.sub-page-title-help-icon:hover,
.sub-page-title-help-icon:focus {
    color: #006F97;
}

.page-title-help-icon:hover,
.page-title-help-icon:focus {
    color: #006F97;
}

.colorblue{
    color:#0899cc;
}

.search-box{
    height: 38px;
    width: 30%;
    display: inline-block;
    border-radius: 0px
}
.clear-search
{
    position:relative;
    left:-4px;height: 38px;top: -1px;margin-right: 15px;max-width: 35px;
    margin-bottom: 3px;border-radius: 0px;
}
.new-entity{
    height: 19px;
    width: 12%;
    display: inline-block;
}
.grey-background{
    background-color: #efefef;
}
.inner-background{
    background-color: white;


}
.tenant_add_container .custom-regi-left-panel {
    background-color: #0899cc;
    position: relative;
}
.remove-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}
.tenant_add_container .regi-right-panel {
    background: #efefef;
    overflow-y: auto;
}
.split {
    height: 89.5%;
    width: 50%;
    position: fixed;
    z-index: 1;

    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;

}

.right {
    right: 0;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

h1.branding_header1 {
    color: rgb(0, 152, 204);
    font-size: 1.551em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: inherit;
}
h3.branding_header1 {
    color: rgb(0, 152, 204);
    font-size: 0.551em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: inherit;
}
.title-pading{
    padding-left:1080px;
}
.column1 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.background{
    background-image: url('../images/catalog-placeholder.png');
}
.all-space {
    padding: 0px 1.5%;
}
.settings-container
{
    background-image: url("../../content/images/catalog-placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}
.input-text{
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
