

<div *ngIf="deployment">
    <h2 style="font-weight: bold"><span>Deployment</span> {{deployment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>App Name</span></dt>
        <dd>
            <span>{{deployment.appName}}</span>
        </dd>
        <dt><span >Container Image</span></dt>
        <dd>
            <span>{{deployment.containerImage}}</span>
        </dd>
        <dt><span>Number Of Instances</span></dt>
        <dd>
            <span>{{deployment.numberOfInstances}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{deployment.description}}</span>
        </dd>
        <dt><span>Number Of Cores</span></dt>
        <dd>
            <span>{{deployment.numberOfCores}}</span>
        </dd>
        <dt><span>Memory</span></dt>
        <dd>
            <span>{{deployment.memory}}</span>
        </dd>
        <dt><span>Tenant</span></dt>
        <dd>
            <span>{{deployment.tenant}}</span>
        </dd>
        <dt><span>Stage</span></dt>
        <dd>
            <span>{{deployment.stage}}</span>
        </dd>
        <dt><span>Secret</span></dt>
        <dd>
            <span>{{deployment.secret}}</span>
        </dd>
    </dl>

<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
</button>

<button type="button"
        [routerLink]="['/', { outlets: { popup: 'deployment/'+ deployment.id + '/edit'} }]"
        replaceUrl="true"
        queryParamsHandling="merge"
        class="btn btn-primary">
    <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
</button>
</div>
