<div>
    <h2 md-dialog-title>{{title}}</h2>
    <hr>
    <md-dialog-content>
        {{content}}
        <br>
        <br>
        <label class="form-control-label"  for="field_containerImage" style="font-weight: bold">Version</label>
        <input type="text" class="form-control" name="containerImage" id="field_containerImage" style="margin-top: 5px" required />
        <br>
        <br>
        <strong>{{data}}</strong>
    </md-dialog-content>
    <hr>
    <md-dialog-actions>
        <button md-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
        <button md-raised-button (click)="onCloseCancel()">CANCEL</button>
    </md-dialog-actions>
</div>
